apiVersion: apps/v1
kind: Deployment
metadata:
  name: "APP_NAME-VERSION"
  namespace: "web"
  labels:
    app: "APP_NAME"
    version: "VERSION"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "APP_NAME"
      version: "VERSION"
  template:
    metadata:
      labels:
        app: "APP_NAME"
        version: "VERSION"
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.1
        ports:
        - containerPort: 80
